body{
	background-color: LightYellow;
}

p{
  font-family: "Helvetica", sans-serif;
  color: DarkRed;
}

h1{
  color: DarkSlateGrey;
	text-align: center;
}

img{
  border: 2px solid black;
}

ul{
	list-style-type: none;
	text-align: center;
}

.SocialMediaLinks{
	color: DarkRed;
	text-decoration: none;
}